<div class = "col-md-4 col-md-offset-3">
    <!-- <img src="/static/img/logo_mini.png" > -->
</div>
<div class = "col-md-5">
</div>

<div class = "col-md-12">
<br><br><br>
</div>

<div class = "col-md-8">
    <div class="input-group">
	  <span class="input-group-addon" id="search" style="cursor:pointer">WC Search</span>
	  <input type="text" id = "filter_string" class="form-control" placeholder="Busca tu WC" aria-describedby="basic-addon1">
	</div>
    <div id = "resultSearch" class = "col-md-12" style = "display : none;">
    	 <br>
    	 <table id = "content" style="width:100%">
		  <tr class = "headtable" style = "background : #ACF8ED;">
		    <td>Site</td>
		    <td>Country(city)</td>
		    <td>Comment</td>
		    <td>Type</td>
		    <td>Map</td>
		    <td>Note</td>
		    <td></td>
          </tr>
          <tr>
          </tr>
		</table> 
    </div>
	<div class = "col-md-12"><br></div>
    
</div>
<div class = "col-md-4">
</div>
