<!DOCTYPE html>
<html>
<head>
    <title>Buscador de WC`s</title>
</head>
<body>
<div class = "row">
    <div class = "col-md-12">
        {% include "header.html" %}
    </div>
    <div class = "col-md-12">
        <div class = "col-md-3">
            {% include "nav.html" %}
        </div>
        <div class = "col-md-9">
            {% include "center.html" %}
        </div> 
    </div>
    <div class = "col-md-12">
        {% include "footer.html" %}
    </div> 
</div>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script type="text/javascript" src = "/static/js/jquery_2-2-1.js"></script>
<script type="text/javascript" src = "/static/js/bootstrap-336.min.js"></script>
<script type="text/javascript" src = "/static/js/custom.js"></script>

</body>
</html>